# Ignore node_modules
node_modules/
frontend/node_modules/
server/node_modules/

# Ignore build files
dist/
build/

# Ignore lock files (optional, if you don't want to commit them)
package-lock.json
pnpm-lock.yaml
yarn.lock
