.navBar {
    background: linear-gradient(70deg, rgb(36, 35, 35), purple);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navBar-brand {
    width: 40px;
    height: 40px;
    display: flex;
  }
  
  .navBar-links {
    display: flex;
    gap: 2rem;
  }
  
  .nav-link {
    background-color: rgb(27, 26, 27);
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 8px; /* Increased for more rounded corners */
    transition: background-color 0.2s;
}

  
  .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  @media (max-width: 768px) {
    .navbar {
      padding: 1rem;
    }
  
    .navBar-brand {
      font-size: 1.2rem;
    }
  
    .navBar-links {
      gap: 1rem;
    }

    .dropdown-menu {
      width: 10px;
      height: 10px;
    }
  
  }